.app-form {
  width: 100%;
  max-width: 700px;
  background: var(--primary-bg);
  border: 1px solid var(--gold);
  padding: 30px;
  border-radius: 6px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 10px;

  label {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }

  input,
  button {
    font-family: inherit;
    background: var(--gold-light);
    color: var(--texdt-color);
    color: var(--emph-bg);
    border: none;
    border: 1px solid var(--primary-bg);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1em;
    font-weight: bold;

    &::placeholder {
      color: var(--gold-dark2);
    }
  }

  button {
    grid-column: 1 /-1;
  }


  button {
    width: 100%;
  }

  .input-required {
    border-color: var(--error-color);
    background: var(--error-bg);
  }

  .data-required {
    color: var(--error-color);
    font-size: 0.9em;
    padding-left: 5px;
  }
}

.app-form-entry {
  width: 100%;
  max-width: 500px;
  background: var(--secondary-bg);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 10px;

  input,
  button {
    width: 100%;
    background: var(--primary-bg);
    font-family: inherit;
    color: var(--emph-color);
    border: none;
    border: 1px solid var(--primary-bg);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 1em;
    text-align: center;

    outline: none;
    font-weight: bold;
  }

  input {
    font-size: 1.4em;
  }
}